.untrash,
.untrash a {
  color: #006505;
}

.untrash a:hover, 
.untrash a:active, 
.untrash a:focus {
  color: #D54E21;
}

.sam-contextual-help,
.sam-contextual-help p,
.sam-contextual-help ul li {
  font-size: 11px !important;
}

.sam-earnings {
  font-family: Helvetica,Arial,sans-serif;
  font-size: 11px;
}
